-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: internshipdb
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `academic_year`
--

DROP TABLE IF EXISTS `academic_year`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `academic_year` (
  `academic_year_id` int NOT NULL AUTO_INCREMENT,
  `label` varchar(20) NOT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('current','archived') NOT NULL DEFAULT 'current',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `archived_at` datetime DEFAULT NULL,
  PRIMARY KEY (`academic_year_id`),
  UNIQUE KEY `uq_academic_year_label` (`label`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `academic_year`
--

LOCK TABLES `academic_year` WRITE;
/*!40000 ALTER TABLE `academic_year` DISABLE KEYS */;
INSERT INTO `academic_year` VALUES (1,'2025/2026','2025-09-01','2026-08-31','current','2026-05-24 21:25:34',NULL);
/*!40000 ALTER TABLE `academic_year` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `admin_id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`admin_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,NULL,'admin1234@gmail.com',NULL,'$2b$10$zaKJwCGGfxYyY/sMfob7aukqu.DXYC3TSmdUOXk8R0cxLiCoiGJfu',0);
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `applied_date` date DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `statement` text,
  `cv_file` varchar(250) DEFAULT NULL,
  `academic_doc` varchar(250) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`application_id`),
  UNIQUE KEY `uq_application_student_internship` (`student_id`,`internship_id`),
  KEY `internship_id` (`internship_id`),
  CONSTRAINT `application_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `application_ibfk_2` FOREIGN KEY (`internship_id`) REFERENCES `internship` (`internship_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application_duplicate_archive`
--

DROP TABLE IF EXISTS `application_duplicate_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application_duplicate_archive` (
  `application_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `applied_date` date DEFAULT NULL,
  `status` varchar(20) DEFAULT NULL,
  `statement` text,
  `cv_file` varchar(250) DEFAULT NULL,
  `academic_doc` varchar(250) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`application_id`),
  KEY `student_id` (`student_id`),
  KEY `internship_id` (`internship_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application_duplicate_archive`
--

LOCK TABLES `application_duplicate_archive` WRITE;
/*!40000 ALTER TABLE `application_duplicate_archive` DISABLE KEYS */;
INSERT INTO `application_duplicate_archive` VALUES (3,'BDU-ETS-1234',2,'2026-03-31','pending',NULL,'https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1774962994/internship_applications/cv/Chapter%202%20cv%20and%20IP','https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1774962995/internship_applications/academic/Chapter%203%20%282%29',NULL);
/*!40000 ALTER TABLE `application_duplicate_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `company_id` int NOT NULL AUTO_INCREMENT,
  `company_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `status` varchar(15) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT '0',
  `location` varchar(100) DEFAULT NULL,
  `profile_pic` varchar(250) DEFAULT NULL,
  `company_type` varchar(100) DEFAULT NULL,
  `industry` varchar(100) DEFAULT NULL,
  `website` varchar(200) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `region` varchar(100) DEFAULT NULL,
  `license_url` varchar(300) DEFAULT NULL,
  `agreed` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `account_status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` varchar(100) DEFAULT NULL,
  `delete_reason` text,
  PRIMARY KEY (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_mentor`
--

DROP TABLE IF EXISTS `company_mentor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_mentor` (
  `company_mentor_id` varchar(20) NOT NULL,
  `company_id` int DEFAULT NULL,
  `full_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT '1',
  `account_status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` varchar(100) DEFAULT NULL,
  `delete_reason` text,
  PRIMARY KEY (`company_mentor_id`),
  KEY `idx_company_mentor_company_id` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_mentor`
--

LOCK TABLES `company_mentor` WRITE;
/*!40000 ALTER TABLE `company_mentor` DISABLE KEYS */;
INSERT INTO `company_mentor` VALUES ('CM-1001',7,'Mekdes Alemu','mekdes.alemu@ethiotech.com','+251912889900','$2b$10$8GnsIg.aYBsi3ZrmzYYmPewhVv2WdxPqR7xi7vv/apkl53jywzTpO',0,'active',NULL,NULL,NULL),('CM-MAEY138WX9',7,'Siltanu Kelemwork','lealemtesfazedo@gmail.com','0962909852','$2b$10$uIWQMVDkHzIv1VAe8fOkn.TBa6k2T1YZ1SUk3td1OWR5D91Cmme3i',0,'active',NULL,NULL,NULL),('CM-N42R9TT6YY',7,'Mesfin Getahun','mesfing1717@gmail.com','0944171799','$2b$10$10hmL/BQ0NmRwM8iKN4uMe6q4hsB00WDrxWaTuaO9EIIQX1EyvbP2',1,'active',NULL,NULL,NULL);
/*!40000 ALTER TABLE `company_mentor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_mentor_assignment_history`
--

DROP TABLE IF EXISTS `company_mentor_assignment_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_mentor_assignment_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `student_internship_id` int NOT NULL,
  `student_id` varchar(20) NOT NULL,
  `internship_id` int DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `old_company_mentor_id` varchar(20) DEFAULT NULL,
  `new_company_mentor_id` varchar(20) DEFAULT NULL,
  `changed_by_company_id` int DEFAULT NULL,
  `action` varchar(30) NOT NULL,
  `changed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`),
  KEY `idx_company_mentor_history_placement` (`student_internship_id`),
  KEY `idx_company_mentor_history_student` (`student_id`),
  KEY `idx_company_mentor_history_old` (`old_company_mentor_id`),
  KEY `idx_company_mentor_history_new` (`new_company_mentor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_mentor_assignment_history`
--

LOCK TABLES `company_mentor_assignment_history` WRITE;
/*!40000 ALTER TABLE `company_mentor_assignment_history` DISABLE KEYS */;
INSERT INTO `company_mentor_assignment_history` VALUES (1,4,'BIT/120/13',7,7,NULL,'CM-MAEY138WX9',7,'assigned','2026-05-26 07:14:33'),(2,4,'BIT/120/13',7,7,'CM-MAEY138WX9','CM-N42R9TT6YY',7,'reassigned','2026-05-26 21:03:49'),(3,4,'BIT/120/13',7,7,'CM-N42R9TT6YY','CM-MAEY138WX9',7,'reassigned','2026-05-26 21:04:00');
/*!40000 ALTER TABLE `company_mentor_assignment_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_rating`
--

DROP TABLE IF EXISTS `company_rating`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_rating` (
  `rating_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `internship_id` int NOT NULL,
  `company_id` int NOT NULL,
  `rating` tinyint NOT NULL,
  `comment` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`rating_id`),
  UNIQUE KEY `uq_company_rating_student_internship` (`student_id`,`internship_id`,`company_id`),
  KEY `idx_company_rating_company` (`company_id`),
  KEY `idx_company_rating_student` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_rating`
--

LOCK TABLES `company_rating` WRITE;
/*!40000 ALTER TABLE `company_rating` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_rating` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_rating_action`
--

DROP TABLE IF EXISTS `company_rating_action`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_rating_action` (
  `action_id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `action` varchar(30) NOT NULL,
  `note` text,
  `average_rating_snapshot` decimal(3,2) DEFAULT NULL,
  `total_ratings_snapshot` int DEFAULT '0',
  `created_by_uil_id` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`action_id`),
  KEY `idx_company_rating_action_company` (`company_id`),
  KEY `idx_company_rating_action_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_rating_action`
--

LOCK TABLES `company_rating_action` WRITE;
/*!40000 ALTER TABLE `company_rating_action` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_rating_action` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluator`
--

DROP TABLE IF EXISTS `evaluator`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluator` (
  `evaluator_id` varchar(20) NOT NULL,
  `faculty_name` varchar(255) NOT NULL,
  `full_name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone_number` varchar(50) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `must_change_password` tinyint(1) DEFAULT '1',
  `account_status` varchar(20) DEFAULT 'active',
  `created_by_faculty_id` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`evaluator_id`),
  UNIQUE KEY `uq_evaluator_email` (`email`),
  KEY `idx_evaluator_faculty` (`faculty_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluator`
--

LOCK TABLES `evaluator` WRITE;
/*!40000 ALTER TABLE `evaluator` DISABLE KEYS */;
INSERT INTO `evaluator` VALUES ('EVAL0001','Faculty of Computing','Siltanu Kelemwork','siltanu@gmail.com','0962909852','$2b$10$5PIae4MQOk2c6i4cdYikHepb5Jdti.5PHT7CAMXhxzHC0CQCcJLQi',0,'active','FAC-11','2026-05-26 17:01:48'),('EVAL0002','Faculty of Computing','alex abrham','alex@gmail.com','098877655','$2b$10$oPZWW9Sl6cVikira.utUQekfvLDXrpMSrpfljGGQmg9mYfBfrj9x2',1,'active','FAC-11','2026-05-26 17:02:29'),('EVAL0003','Faculty of Computing','Mesfin G','mesfing1717@gmail.com','094171799','$2b$10$RvSbqpnPqwebGO6iqpt7BeQ1t25kEdABgBlD56BP7KIIz0e2UhgzW',1,'active','FAC-11','2026-05-26 21:50:03');
/*!40000 ALTER TABLE `evaluator` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty`
--

DROP TABLE IF EXISTS `faculty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty` (
  `faculty_id` varchar(20) NOT NULL,
  `faculty_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT '1',
  `account_status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` varchar(100) DEFAULT NULL,
  `delete_reason` text,
  PRIMARY KEY (`faculty_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty`
--

LOCK TABLES `faculty` WRITE;
/*!40000 ALTER TABLE `faculty` DISABLE KEYS */;
INSERT INTO `faculty` VALUES ('FAC-11','Faculty of Computing','solomon.bekele@bdu.edu.et',NULL,'$2b$10$3D6P37hdFHQOZBNSw5LOlejNNjGOYWA/w8mwg6pWRqiuZZUx6PYz.',0,'active',NULL,NULL,NULL);
/*!40000 ALTER TABLE `faculty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `faculty_mentor_assignment_history`
--

DROP TABLE IF EXISTS `faculty_mentor_assignment_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `faculty_mentor_assignment_history` (
  `history_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `old_mentor_id` varchar(20) DEFAULT NULL,
  `new_mentor_id` varchar(20) DEFAULT NULL,
  `changed_by_faculty_id` varchar(20) DEFAULT NULL,
  `action` varchar(30) NOT NULL,
  `changed_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`history_id`),
  KEY `idx_faculty_mentor_history_student` (`student_id`),
  KEY `idx_faculty_mentor_history_old` (`old_mentor_id`),
  KEY `idx_faculty_mentor_history_new` (`new_mentor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `faculty_mentor_assignment_history`
--

LOCK TABLES `faculty_mentor_assignment_history` WRITE;
/*!40000 ALTER TABLE `faculty_mentor_assignment_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `faculty_mentor_assignment_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship`
--

DROP TABLE IF EXISTS `internship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship` (
  `internship_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(200) DEFAULT NULL,
  `description` text,
  `status` varchar(15) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `skills` text,
  `department` varchar(100) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `image` varchar(250) DEFAULT NULL,
  `duration` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`internship_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `internship_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship`
--

LOCK TABLES `internship` WRITE;
/*!40000 ALTER TABLE `internship` DISABLE KEYS */;
/*!40000 ALTER TABLE `internship` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_evaluation`
--

DROP TABLE IF EXISTS `internship_evaluation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship_evaluation` (
  `evaluation_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `company_mentor_id` varchar(20) DEFAULT NULL,
  `assessment_pdf_url` varchar(255) DEFAULT NULL,
  `attendance_pdf_url` varchar(255) DEFAULT NULL,
  `total_mark` int DEFAULT NULL,
  `faculty_attendance_mark` decimal(5,2) DEFAULT NULL,
  `faculty_attendance_graded_by` varchar(20) DEFAULT NULL,
  `faculty_attendance_graded_at` datetime DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`evaluation_id`),
  UNIQUE KEY `uq_evaluation_student_internship` (`student_id`,`internship_id`),
  KEY `internship_id` (`internship_id`),
  KEY `idx_internship_evaluation_company_mentor` (`company_mentor_id`),
  CONSTRAINT `internship_evaluation_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `internship_evaluation_ibfk_2` FOREIGN KEY (`internship_id`) REFERENCES `internship` (`internship_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_evaluation`
--

LOCK TABLES `internship_evaluation` WRITE;
/*!40000 ALTER TABLE `internship_evaluation` DISABLE KEYS */;
INSERT INTO `internship_evaluation` VALUES (3,'BDU-ETS-1234',2,NULL,'https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1775160937/internship/assessment/BDU-ETS-1234_assessment','https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1775160938/internship/attendance/BDU-ETS-1234_attendance',32,8.00,'FAC-11','2026-05-27 00:51:22','2026-04-02 20:15:38');
/*!40000 ALTER TABLE `internship_evaluation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_evaluation_duplicate_archive`
--

DROP TABLE IF EXISTS `internship_evaluation_duplicate_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship_evaluation_duplicate_archive` (
  `evaluation_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `company_mentor_id` varchar(20) DEFAULT NULL,
  `assessment_pdf_url` varchar(255) DEFAULT NULL,
  `attendance_pdf_url` varchar(255) DEFAULT NULL,
  `total_mark` int DEFAULT NULL,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`evaluation_id`),
  KEY `student_id` (`student_id`),
  KEY `internship_id` (`internship_id`),
  KEY `idx_internship_evaluation_company_mentor` (`company_mentor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_evaluation_duplicate_archive`
--

LOCK TABLES `internship_evaluation_duplicate_archive` WRITE;
/*!40000 ALTER TABLE `internship_evaluation_duplicate_archive` DISABLE KEYS */;
INSERT INTO `internship_evaluation_duplicate_archive` VALUES (1,'BDU-ETS-1234',2,NULL,'https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1772005624/internship/assessment/BDU-ETS-1234_assessment','https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1772005625/internship/attendance/BDU-ETS-1234_attendance',40,'2026-02-25 07:47:05'),(2,'BDU-ETS-1234',2,NULL,'https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1772005979/internship/assessment/BDU-ETS-1234_assessment','https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1772005980/internship/attendance/BDU-ETS-1234_attendance',40,'2026-02-25 07:53:00');
/*!40000 ALTER TABLE `internship_evaluation_duplicate_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_report`
--

DROP TABLE IF EXISTS `internship_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship_report` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `report_url` varchar(255) DEFAULT NULL,
  `status` enum('submitted','signed','faculty_submitted') DEFAULT 'submitted',
  `submission_date` date DEFAULT NULL,
  `mentor_id` varchar(20) DEFAULT NULL,
  `mentor_report_mark` decimal(5,2) DEFAULT NULL,
  `mentor_report_graded_at` datetime DEFAULT NULL,
  `faculty_submitted_at` datetime DEFAULT NULL,
  `signed_at` datetime DEFAULT NULL,
  `mentor_signed_url` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`report_id`),
  UNIQUE KEY `uq_report_student_internship` (`student_id`,`internship_id`),
  KEY `internship_id` (`internship_id`),
  KEY `mentor_id` (`mentor_id`),
  CONSTRAINT `internship_report_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `internship_report_ibfk_2` FOREIGN KEY (`internship_id`) REFERENCES `internship` (`internship_id`),
  CONSTRAINT `internship_report_ibfk_3` FOREIGN KEY (`mentor_id`) REFERENCES `mentor` (`mentor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_report`
--

LOCK TABLES `internship_report` WRITE;
/*!40000 ALTER TABLE `internship_report` DISABLE KEYS */;
INSERT INTO `internship_report` VALUES (3,'BDU-ETS-1234',2,'https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1778866605/internship_reports/original/Autonomous%20vehicle%20driving%20technologies','faculty_submitted','2026-05-15','FM-2001',10.00,'2026-05-27 00:43:35','2026-05-15 20:41:50','2026-05-15 20:40:42','https://res.cloudinary.com/dg5e8w4b7/raw/upload/v1778866842/internship_reports/signed/INTERN_report');
/*!40000 ALTER TABLE `internship_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `internship_report_duplicate_archive`
--

DROP TABLE IF EXISTS `internship_report_duplicate_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `internship_report_duplicate_archive` (
  `report_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `report_url` varchar(255) DEFAULT NULL,
  `status` enum('submitted','signed','faculty_submitted') DEFAULT 'submitted',
  `submission_date` date DEFAULT NULL,
  `mentor_id` varchar(20) DEFAULT NULL,
  `faculty_submitted_at` datetime DEFAULT NULL,
  `signed_at` datetime DEFAULT NULL,
  `mentor_signed_url` varchar(250) DEFAULT NULL,
  PRIMARY KEY (`report_id`),
  KEY `student_id` (`student_id`),
  KEY `internship_id` (`internship_id`),
  KEY `mentor_id` (`mentor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `internship_report_duplicate_archive`
--

LOCK TABLES `internship_report_duplicate_archive` WRITE;
/*!40000 ALTER TABLE `internship_report_duplicate_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `internship_report_duplicate_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mentor`
--

DROP TABLE IF EXISTS `mentor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mentor` (
  `mentor_id` varchar(20) NOT NULL,
  `faculty_id` varchar(20) DEFAULT NULL,
  `faculty_name` varchar(200) DEFAULT NULL,
  `full_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT '1',
  `account_status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` varchar(100) DEFAULT NULL,
  `delete_reason` text,
  PRIMARY KEY (`mentor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mentor`
--

LOCK TABLES `mentor` WRITE;
/*!40000 ALTER TABLE `mentor` DISABLE KEYS */;
INSERT INTO `mentor` VALUES ('FM-2001',NULL,NULL,'Alemayehu Tesfaye','alemayehu.tesfaye@bdu.edu.et','+251913445566','$2b$10$cNQBVnkELQwQrNvkCaKHLOQwlFmJ9W3CkyilpT0ZVdz49pYMR/JWO',0,'active',NULL,NULL,NULL);
/*!40000 ALTER TABLE `mentor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mentor_feedback`
--

DROP TABLE IF EXISTS `mentor_feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mentor_feedback` (
  `feedback_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `internship_id` int NOT NULL,
  `company_mentor_id` varchar(20) DEFAULT NULL,
  `faculty_mentor_id` varchar(20) DEFAULT NULL,
  `parent_feedback_id` int DEFAULT NULL,
  `feedback_type` enum('weekly','midterm','final','faculty') DEFAULT 'weekly',
  `feedback_week` int DEFAULT NULL,
  `week_start_date` date DEFAULT NULL,
  `week_end_date` date DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `strengths` text,
  `weaknesses` text,
  `suggestions` text,
  `overall_comment` text,
  `attachment_url` varchar(500) DEFAULT NULL,
  `attachment_name` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`feedback_id`),
  KEY `internship_id` (`internship_id`),
  KEY `company_mentor_id` (`company_mentor_id`),
  KEY `parent_feedback_id` (`parent_feedback_id`),
  KEY `idx_mentor_feedback_week` (`student_id`,`internship_id`,`company_mentor_id`,`feedback_week`),
  CONSTRAINT `mentor_feedback_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `mentor_feedback_ibfk_2` FOREIGN KEY (`internship_id`) REFERENCES `internship` (`internship_id`),
  CONSTRAINT `mentor_feedback_ibfk_3` FOREIGN KEY (`company_mentor_id`) REFERENCES `company_mentor` (`company_mentor_id`),
  CONSTRAINT `mentor_feedback_chk_1` CHECK ((`rating` between 1 and 10))
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mentor_feedback`
--

LOCK TABLES `mentor_feedback` WRITE;
/*!40000 ALTER TABLE `mentor_feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `mentor_feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `recipient_role` varchar(50) NOT NULL,
  `recipient_id` varchar(50) NOT NULL,
  `title` varchar(150) NOT NULL,
  `message` text,
  `type` varchar(50) DEFAULT 'info',
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `read_at` datetime DEFAULT NULL,
  PRIMARY KEY (`notification_id`),
  KEY `idx_notifications_recipient` (`recipient_role`,`recipient_id`,`is_read`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `bank_name` varchar(100) NOT NULL,
  `account_holder_name` varchar(150) NOT NULL,
  `account_number` varchar(50) NOT NULL,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`payment_id`),
  UNIQUE KEY `uq_payments_student` (`student_id`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (1,'BDU-ETS-1234','CBE','Siltanu Kelemwork','10005278673786','2026-05-15 18:19:33');
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments_duplicate_archive`
--

DROP TABLE IF EXISTS `payments_duplicate_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments_duplicate_archive` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `bank_name` varchar(100) NOT NULL,
  `account_holder_name` varchar(150) NOT NULL,
  `account_number` varchar(50) NOT NULL,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`payment_id`),
  KEY `student_id` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments_duplicate_archive`
--

LOCK TABLES `payments_duplicate_archive` WRITE;
/*!40000 ALTER TABLE `payments_duplicate_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments_duplicate_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presentation_evaluator_assignment`
--

DROP TABLE IF EXISTS `presentation_evaluator_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presentation_evaluator_assignment` (
  `assignment_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `internship_id` int NOT NULL,
  `faculty_name` varchar(255) NOT NULL,
  `evaluator_id` varchar(20) NOT NULL,
  `assigned_by_faculty_id` varchar(20) DEFAULT NULL,
  `assigned_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`assignment_id`),
  UNIQUE KEY `uq_presentation_assignment` (`student_id`,`internship_id`,`evaluator_id`),
  KEY `idx_presentation_assignment_student` (`student_id`,`internship_id`),
  KEY `idx_presentation_assignment_evaluator` (`evaluator_id`),
  CONSTRAINT `fk_presentation_assignment_evaluator` FOREIGN KEY (`evaluator_id`) REFERENCES `evaluator` (`evaluator_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presentation_evaluator_assignment`
--

LOCK TABLES `presentation_evaluator_assignment` WRITE;
/*!40000 ALTER TABLE `presentation_evaluator_assignment` DISABLE KEYS */;
INSERT INTO `presentation_evaluator_assignment` VALUES (1,'BDU-ETS-1234',5,'Faculty of Computing','EVAL0002','FAC-11','2026-05-26 21:49:22'),(2,'BDU-ETS-1234',5,'Faculty of Computing','EVAL0001','FAC-11','2026-05-26 21:49:22');
/*!40000 ALTER TABLE `presentation_evaluator_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `presentation_grade`
--

DROP TABLE IF EXISTS `presentation_grade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `presentation_grade` (
  `grade_id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) NOT NULL,
  `internship_id` int NOT NULL,
  `evaluator_id` varchar(20) NOT NULL,
  `mark` decimal(5,2) NOT NULL,
  `submitted_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`grade_id`),
  UNIQUE KEY `uq_presentation_grade` (`student_id`,`internship_id`,`evaluator_id`),
  KEY `idx_presentation_grade_student` (`student_id`,`internship_id`),
  KEY `fk_presentation_grade_evaluator` (`evaluator_id`),
  CONSTRAINT `fk_presentation_grade_evaluator` FOREIGN KEY (`evaluator_id`) REFERENCES `evaluator` (`evaluator_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `presentation_grade`
--

LOCK TABLES `presentation_grade` WRITE;
/*!40000 ALTER TABLE `presentation_grade` DISABLE KEYS */;
INSERT INTO `presentation_grade` VALUES (1,'BDU-ETS-1234',5,'EVAL0001',20.00,'2026-05-26 22:04:02','2026-05-26 22:04:02');
/*!40000 ALTER TABLE `presentation_grade` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `student_id` varchar(20) NOT NULL,
  `full_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `profile_status` varchar(20) DEFAULT NULL,
  `skills` text,
  `preferred_location` varchar(100) DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `assigned_mentor` varchar(20) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `faculty` varchar(100) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT '1',
  `technical_skills` json DEFAULT NULL,
  `soft_skills` json DEFAULT NULL,
  `languages` json DEFAULT NULL,
  `linkedin` varchar(255) DEFAULT NULL,
  `github` varchar(255) DEFAULT NULL,
  `portfolio` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`student_id`),
  KEY `fk_student_mentor` (`assigned_mentor`),
  CONSTRAINT `fk_student_mentor` FOREIGN KEY (`assigned_mentor`) REFERENCES `mentor` (`mentor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_internship`
--

DROP TABLE IF EXISTS `student_internship`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_internship` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `status` varchar(20) DEFAULT 'in progress',
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `performance` text,
  `evaluation_score` decimal(5,2) DEFAULT NULL,
  `company_mentor_id` varchar(20) DEFAULT NULL,
  `academic_year_id` int DEFAULT NULL,
  `cohort_status` enum('current','archived') NOT NULL DEFAULT 'current',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_student_internship_academic_year` (`student_id`,`internship_id`,`academic_year_id`),
  KEY `internship_id` (`internship_id`),
  KEY `company_id` (`company_id`),
  KEY `fk_student_company_mentors` (`company_mentor_id`),
  KEY `idx_student_internship_academic_year` (`academic_year_id`),
  CONSTRAINT `fk_student_company_mentors` FOREIGN KEY (`company_mentor_id`) REFERENCES `company_mentor` (`company_mentor_id`),
  CONSTRAINT `fk_student_internship_academic_year` FOREIGN KEY (`academic_year_id`) REFERENCES `academic_year` (`academic_year_id`),
  CONSTRAINT `student_internship_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`),
  CONSTRAINT `student_internship_ibfk_2` FOREIGN KEY (`internship_id`) REFERENCES `internship` (`internship_id`),
  CONSTRAINT `student_internship_ibfk_3` FOREIGN KEY (`company_id`) REFERENCES `company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_internship`
--

LOCK TABLES `student_internship` WRITE;
/*!40000 ALTER TABLE `student_internship` DISABLE KEYS */;
INSERT INTO `student_internship` VALUES (2,'BDU-ETS-1234',2,1,'in progress','2026-02-17',NULL,NULL,NULL,NULL,1,'current'),(3,'BDU-ETS-1234',5,7,'completed','2026-04-20','2026-05-24',NULL,NULL,NULL,1,'current'),(4,'BIT/120/13',7,7,'in progress','2026-05-26',NULL,NULL,NULL,'CM-MAEY138WX9',1,'current');
/*!40000 ALTER TABLE `student_internship` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_internship_duplicate_archive`
--

DROP TABLE IF EXISTS `student_internship_duplicate_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_internship_duplicate_archive` (
  `id` int NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `internship_id` int DEFAULT NULL,
  `company_id` int DEFAULT NULL,
  `status` varchar(20) DEFAULT 'in progress',
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `performance` text,
  `evaluation_score` decimal(5,2) DEFAULT NULL,
  `company_mentor_id` varchar(20) DEFAULT NULL,
  `academic_year_id` int DEFAULT NULL,
  `cohort_status` enum('current','archived') NOT NULL DEFAULT 'current',
  PRIMARY KEY (`id`),
  KEY `student_id` (`student_id`),
  KEY `internship_id` (`internship_id`),
  KEY `company_id` (`company_id`),
  KEY `fk_student_company_mentors` (`company_mentor_id`),
  KEY `idx_student_internship_academic_year` (`academic_year_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_internship_duplicate_archive`
--

LOCK TABLES `student_internship_duplicate_archive` WRITE;
/*!40000 ALTER TABLE `student_internship_duplicate_archive` DISABLE KEYS */;
INSERT INTO `student_internship_duplicate_archive` VALUES (1,'BDU-ETS-1234',2,1,'in progress','2026-02-17',NULL,NULL,NULL,'CM-1001',1,'current');
/*!40000 ALTER TABLE `student_internship_duplicate_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_logs`
--

DROP TABLE IF EXISTS `system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_logs` (
  `log_id` int NOT NULL AUTO_INCREMENT,
  `action` varchar(255) DEFAULT NULL,
  `user_role` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_logs`
--

LOCK TABLES `system_logs` WRITE;
/*!40000 ALTER TABLE `system_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_settings`
--

DROP TABLE IF EXISTS `system_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_settings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` varchar(255) NOT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_settings`
--

LOCK TABLES `system_settings` WRITE;
/*!40000 ALTER TABLE `system_settings` DISABLE KEYS */;
INSERT INTO `system_settings` VALUES (1,'maintenance_mode','false','2026-05-26 11:01:27'),(5,'recommendation_letter_url','','2026-05-26 19:21:06'),(6,'recommendation_letter_name','','2026-05-26 19:21:06'),(7,'recommendation_letter_available','false','2026-05-26 19:21:06'),(8,'recommendation_letter_updated_at','2026-05-26T19:21:06.479Z','2026-05-26 19:21:06');
/*!40000 ALTER TABLE `system_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uil`
--

DROP TABLE IF EXISTS `uil`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `uil` (
  `uil_id` int NOT NULL AUTO_INCREMENT,
  `full_name` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `must_change_password` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`uil_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uil`
--

LOCK TABLES `uil` WRITE;
/*!40000 ALTER TABLE `uil` DISABLE KEYS */;
INSERT INTO `uil` VALUES (1,'Yohannis belay','john@gmail.com','09788767','$2b$10$71L/mQY/Qm.m7bGXsh2xG./EWsp8UZtk7U/geJrvZBSmiuzS5DYue',0);
/*!40000 ALTER TABLE `uil` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-27  9:42:37
